.icon-wrapper {
  /* Positioning Block */
  position: relative;

  /* Structure Block */
  cursor: pointer;
  width: 30px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  /* Modifier Block */
  z-index: 199;
  transition: all 500ms;

  div {
    border-radius: 20px;
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 500ms;
  }

  div:nth-child(1) {
    animation: inT 0.8s backwards;
    animation-direction: reverse;
  }
  div:nth-child(2) {
    animation: inM 0.8s backwards;
    animation-direction: reverse;
  }
  div:nth-child(3) {
    animation: inB 0.8s backwards;
    animation-direction: reverse;
  }

  &.active {
    div {
      background-color: #fff;
    }

    div:nth-child(1) {
      animation: outT 0.8s forwards;
    }
    div:nth-child(2) {
      animation: outM 0.8s forwards;
    }
    div:nth-child(3) {
      animation: outB 0.8s forwards;
    }
  }

  @keyframes inT {
    50% {
      transform: translateY(7px);
    }
    100% {
      transform: translateY(7px) rotate(135deg);
    }
  }

  @keyframes inM {
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(45deg);
    }
  }

  @keyframes inB {
    50% {
      transform: translateY(-7px);
    }
    100% {
      transform: translateY(-7px) rotate(135deg);
    }
  }
  @keyframes outT {
    50% {
      transform: translateY(7px);
    }
    100% {
      transform: translateY(7px) rotate(135deg);
    }
  }

  @keyframes outM {
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(45deg);
    }
  }

  @keyframes outB {
    50% {
      transform: translateY(-7px);
    }
    100% {
      transform: translateY(-7px) rotate(135deg);
    }
  }
}

.header-menu {
  position: fixed;
  left: 0;
  top: 0;

  height: 100vh;
  width: 100vw;
  background: #00474f;

  transition: all 500ms;
  transition-timing-function: cubic-bezier(0.93, 0.22, 0.29, 0.97);
}

.menu-item {
  a {
    transition: all 300ms;
    border-bottom: 3px solid;
    border-color: transparent;
  }
}
