.project-card {
  .__label {
    transition: all 500ms;
    position: relative;
    right: 100px;
  }
  .__des {
    transition: all 500ms;
    position: relative;
    left: 100px;
  }

  &:hover {
    .__label {
      right: 0px;
    }

    .__des {
      left: 0px;
    }
  }
}
