.player-container {
  background-color: white;
  &:hover {
    .player-slide {
      &::-webkit-slider-thumb {
        opacity: 1;
      }
    }

    .player-control {
      width: 200px;
      margin-left: 10px;
    }
  }

  .player-control {
    width: 0px;
    transition: all 500ms;
  }

  .player-slide {
    width: 100%;
    -webkit-appearance: none;
    background-color: #d9d9d9;
    cursor: pointer;
    height: 4px;
    transition: all 500ms;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      opacity: 0;
      position: relative;
      transition: all 200ms;
      z-index: 10;
      height: 13px;
      width: 13px;
      background-color: #006d75;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
