.ani__delay-half {
  animation-delay: 0.5s !important;
}
.ani__delay-0 {
  animation-delay: 0s !important;
}
.ani__delay-1 {
  animation-delay: 1s !important;
}
.ani__delay-1-5 {
  animation-delay: 1.5s !important;
}
.ani__delay-2 {
  animation-delay: 2s !important;
}

.ani__delay-card--0 {
  animation-delay: 0s !important;
}
.ani__delay-card--1 {
  animation-delay: 0.5s !important;
}
.ani__delay-card--2 {
  animation-delay: 1s !important;
}
