@import "icons";
@import "animate";

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

:root {
  .animate__animated.animate__delay-half {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
}

.truncate-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.menu-item {
  &.active {
    color: #006d75;
    // border-bottom: 1px solid #006d75;
  }
}

.header-menu-item {
  &.active {
    a {
      border-color: #fff;
    }
    // border-bottom: 1px solid #006d75;
  }
}

#line-bottom {
  height: 3px;
  border-radius: 20px;
}
